.main-header {
    height: 70px;
    display: flex;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--card-bg);
    position: sticky;
    top: 0;
    z-index: 999;
}

.header-btn {
    height: 28px;
    width: 28px;
    background-color: var(--background);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s all;
    color: #272525;
}

.header-btn:hover {
    color: var(--primary);
}
